# Built application files
*.apk
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

#Log files
*.log

# The old Songbook
SongbookOld/bin/
SongbookOld/gen/
SongbookOld/out/
SongbookOld/.settings
SongbookOld/.gradle/
SongbookOld/build/
SongbookOld/local.properties
SongbookOld/proguard/
SongbookOld/.navigation/
SongbookOld/captures/
*.iml
SongbookOld/.idea/workspace.xml
SongbookOld/*.jks



.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures